.login-container {
  background-image : url(https://static.vecteezy.com/system/resources/previews/004/299/830/original/shopping-online-on-phone-with-podium-paper-art-modern-pink-background-gifts-box-illustration-free-vector.jpg);
  object-fit: cover;
  background-repeat :no-repeat;
  background-position: center;
}

.card {
  border: none;
  border-radius: 16px;
}
.logo-login{
  width: 200px;
  height: 100px;
  margin: 0 auto;
  padding-bottom:20px;
  cursor : pointer;
}