.login-container {
  background-image : url(https://static.vecteezy.com/system/resources/previews/004/299/830/original/shopping-online-on-phone-with-podium-paper-art-modern-pink-background-gifts-box-illustration-free-vector.jpg);
  object-fit: cover;
  background-repeat :no-repeat;
  background-position: center;
}

.card {
  border: none;
  border-radius: 16px;
}
.logo-login{
  width: 200px;
  height: 100px;
  margin: 0 auto;
  padding-bottom:20px;
  cursor : pointer;
}

@media (max-width: 768px) {
  .login-container {
    padding: 20px;
  }

  .card {
    width: 100% !important;
    border-radius: 12px;
    padding: 20px !important;
  }

  .form-label {
    font-size: 0.95rem;
  }

  .form-control {
    font-size: 0.95rem;
    padding: 10px;
  }

  .btn {
    font-size: 1rem;
    padding: 10px;
  }

  h2 {
    font-size: 1.5rem;
  }

  .text-center span {
    font-size: 0.95rem;
  }
}
