.register {
  background-image : url(https://static.vecteezy.com/system/resources/previews/004/299/830/original/shopping-online-on-phone-with-podium-paper-art-modern-pink-background-gifts-box-illustration-free-vector.jpg);
  object-fit: cover;
  background-repeat :no-repeat;
  background-position: center;
  width: 100%;
  height: 100vh;
}