.navbar{
    position: sticky!important;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    box-shadow: 4px 0 8px rgba(0, 0, 0, 0.1);

}
